@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-R.ttf);
}


.center {
	margin: 0px auto 0px auto;
	display:flex;
	justify-content:center;
	align-items:center;
	
}

.pozo-sm {
	padding: 9px;
	background-color: #61c597;
	color: white;
}

.pozo {
	min-height: 20px;
	margin-bottom: 20px;
	border: 0px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.form-style {
	padding: 10px;
}

.div-well {
	background-color: #F0F0F0;
	margin-bottom: 10px;
}

.div-well .p {
	font-weight: bold;
}

.btn-style {
	border-radius: 15px !important;
	background-color: #61c597;
	color: white;
	font-weight: bold
}

input {
	background-color: #f2f2f2 !important;
}

table.table-style {
	
}

.table-style tr:nth-child(even) {
	background-color: #f2f2f2
}

.table-style tr {
	background-color: #white
}

.table-style th {
	background-color: #4CAF50;
	color: white;
}

.table-style th:nth-child(even) {
	background-color: #61c597;
	color: white;
}

/* estilo de tabla para indicadores de pueblos */
table.ind-style {
	border: none !important;
	width: 100%;
}

.ind-style td {
	border-radius: 10px;
	background-color: transparent;

}

.ind-style p {
	text-align: center;
	color: white;
	font-weight: bold;
	vertical-align: middle;
}

.ind-style>thead>tr>th {
	border: none !important;
}

.ind-style th {
	border-radius: 10px;
	border: none !important;
}

.divIndicador {
	padding: 5px 5px 1px 5px;
	border-radius: 8px;
	margin: 5px;
	color:#61c597;
}

.label-color{
	background-color:#336666;
}
.verdeBg {
	background: #156005;
}

.naranjaBg {
	background: #ffcc00;
}

.rojoBg {
	background: #990202;
}

.grisBg {
	background: #A0A07B;
}

.warnColor{
	background: #fbb040;
}

.errorColor{
	background: #f15a29;
}
.comentario {
	border-bottom: 1px solid #a0a0a0;
	margin-left: auto;
	display: block;
	margin-right: auto;
	padding:10px;
    word-wrap: break-word;
  
}

h5{
	font-weight:bold;
}

body {
	font-family: ubuntu !important;
}