<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<div ng-controller="aplicacionController" ng-init="init();">

	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="">
				
				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="div-well">
							<div class="pozo pozo-sm">
								<h4>General</h4>
							</div>
							<form style="padding: 10px;">

								<p>Solr</p>

								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">

										<div class="form-group">
											<input type="text" class="form-control" name=""
												placeholder="Host" />
										</div>

										<div class="form-group">
											<input type="text" class="form-control" name=""
												placeholder="Nombre del core" />
										</div>

									</div>

									<div class="col-lg-6 col-md-6 col-sm-6">

										<div class="form-group">
											<input type="text" class="form-control" name=""
												placeholder="Puerto" />
										</div>

									</div>
								</div>
								<p>Postgres</p>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">

										<div class="form-group">
											<input type="text" class="form-control" name=""
												placeholder="Host" />
										</div>

										<div class="form-group">
											<input type="text" class="form-control" name=""
												placeholder="Nombre de Base de Datos" />
										</div>

										<div class="form-group">
											<input type="text" class="form-control" name=""
												placeholder="Puerto" />
										</div>

									</div>

									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<input type="text" class="form-control" name=""
												placeholder="Usuario" />
										</div>

										<div class="form-group">
											<input type="password" class="form-control" name=""
												placeholder="Contraseña" />
										</div>

									</div>
								</div>
								<p>Mail</p>
								<div class="row">

									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<input type="text" class="form-control" name=""
												placeholder="Nombre de usuario" />
										</div>

										<div class="form-group">
											<input type="text" class="form-control" name=""
												placeholder="Host" />
										</div>

									</div>

									<div class="col-lg-6 col-md-6 col-sm-6">

										<div class="form-group">
											<input type="password" class="form-control" name=""
												placeholder="Contraseña" />
										</div>
										<div class="form-group">
											<input type="text" class="form-control" name=""
												placeholder="Puerto" />
										</div>

									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group" class="form-style">
											<input type="email" class="form-control" id="email"
												placeholder="Correo Electrónico">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<!-- EXTRACCIONES -->
						<div class="div-well">
							<div class="pozo pozo-sm">
								<h4>Extractores</h4>
							</div>

							<div class="row" style="padding:10px">
								<div class="col-lg-8 col-md-8 col-sm-8">
									<table class="table table-style">
										<tr>
											<th>Fuente</th>
											<th>Status</th>
											<th>Hora</th>
										</tr>
										<tr>
											<td>Tripadvisor</td>
											<td>ok</td>
											<td>10:00</td>
										</tr>
										<tr>
											<td>Booking</td>
											<td>fallo</td>
											<td>15:00</td>
										</tr>
										<tr>
											<td>kayak</td>
											<td>ok</td>
											<td>13:00</td>
										</tr>

									</table>
								</div>
							
							<div class="col-lg-4 col-md-4 col-sm-4">
							
							<div class="filter">
							 
								<div class="input-group">
												<input
													class="form-control ng-pristine ng-untouched ng-valid"
													datepicker-popup="{{format}}" name="dt"
													ng-model="dateInicial" is-open="datepickers.dt"
													datepicker-options="dateOptions" ng-required="true"
													close-text="Cerrar" placeholder="Fecha inicial"
													min-date="minDate" max-date="maxDate" type="text">
												<span class="input-group-btn">
													<button class="btn btn-default"
														ng-click="open($event,'dt')" style="height: 34px;">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
												</span>
											</div>
						 
						</div>
							</div>
							
							</div>
						</div>

						<div class="div-well">
							<div class="pozo pozo-sm">
								<h4>Indicadores</h4>
							</div>
							<div class="row" style="padding:10px">
								<div class="col-lg-8 col-md-8 col-sm-8">
									<table class="table table-style">
										<tr>
											<th>Indicador</th>
											<th>Clave</th>
											 
										</tr>
										<tr>
											<td>Indicador</td>
											<td>i1</td>
											 
										</tr>
										<tr>
											<td>Indicador</td>
											<td>i2</td>
											 
										</tr>
										<tr>
											<td>Indicador</td>
											<td>i3</td>
											 
										</tr>

									</table>
								</div>
							
							<div class="col-lg-4 col-md-4 col-sm-4">
							
							<table class="table table-style">
										<tr>
											<th>Terminos</th>					 
										</tr>
										<tr>
											<td>palabra</td>								 
										</tr>
										<tr>
											<td>palabra</td>										 
										</tr>
										<tr>
											<td>palabra</td>										 
										</tr>

									</table>
							 
							</div>
							
							</div>
						</div>
					</div>

					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="div-well">
							<div class="pozo pozo-sm">
								<h4>Log</h4>
							</div>
							<div class="container"  style="overflow-x:hidden;overflow-y: scroll;max-height: 200px; padding:5px;margin:5px;">
							<div class="row" style="padding:5px;font-weight:bold;">
							<div class="col-md-2"><h7>Hora Local</h7></div>
							<div class="col-md-1"><h7>Nivel</h7></div>
							<div class="col-md-1"><h7>Core</h7></div>
							<div class="col-md-1"><h7>fuente</h7></div>
							<div class="col-md-1"><h7>Logger</h7></div>
							<div class="col-md-6"><h7>Mensaje</h7></div>
							</div>
							<!--Angular  -->
							<div class="row" ng-repeat="record in log" style="padding:5px;margin:5px;" ng-class="logEstilo(record.nivel)">
							<div class="col-md-2"><h7>{{record.hora}}</h7></div>
							<div class="col-md-1"><h7>{{record.nivel}}</h7></div>
							<div class="col-md-1"><h7>{{record.core}}</h7></div>
							<div class="col-md-1"><h7>{{record.fuente}}</h7></div>
							<div class="col-md-1"><h7>{{record.logger}}</h7></div>
							<div class="col-md-6"><h7>{{record.mensaje}}</h7></div>
							
							</div>
							</div>
							<div class="col-sm-2" style="float: right; margin-top:10px">
								<button type="button" ng-click="actualizarDatos($event)" class="btn-style btn btn-success">Actualizar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




</div>

