<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">


<div ng-controller="indicadorController" ng-init="init();">

	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
		
					<div class="row">
						<div class="col-md-6"></div>

						<div class="clearfix"></div>
					</div>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12">



					<table class="ind-style">
						<!--Encabezados -->
						<tr>
							<th ng-hide="showHistorial"><div class="pozo pozo-sm"
									style="height: 65px;">
									<h4>Pueblos</h4>
								</div></th>
							<th ng-hide="showHistorial">&nbsp;</th>
							<!-- espacio -->
							<th colspan="{{ngClass}}">
								<div class="pozo pozo-sm" style="height: 65px;">
									<h4>
										Indicadores
										<button type="button" class="btn btn-success">Modo
											Datos</button>
										<button type="button" class="btn btn-success"
											ng-click="toggle()">Historial</button>

										<i style="float: right; margin-left: 15px"
											class="fa fa-refresh fa-lg" aria-hidden="true"></i> <i
											style="float: right; margin-left: 15px"
											class="fa fa-download fa-lg" aria-hidden="true"></i> <i
											style="float: right; margin-left: 15px"
											class="fa fa-arrow-circle-right fa-lg" aria-hidden="true"></i>

										<!--DATE PICKERS  -->
										<div style="float: right" class="col-md-6 filter">
											<div class="col-md-5" style="float: right">
												<div class="input-group">
													<input
														class="form-control ng-pristine ng-untouched ng-valid"
														datepicker-popup="{{format}}" name="dt"
														ng-model="dateInicial" is-open="datepickers.dt"
														datepicker-options="dateOptions" ng-required="true"
														close-text="Cerrar" placeholder="Fecha inicial"
														min-date="minDate" max-date="maxDate" type="text">
													<span class="input-group-btn">
														<button class="btn btn-default"
															ng-click="open($event,'dt')" style="height: 34px;">
															<i class="glyphicon glyphicon-calendar"></i>
														</button>
													</span>
												</div>
											</div>

											<div class="col-md-5" style="float: right">
												<div class="input-group">
													<input
														class="form-control ng-pristine ng-untouched ng-valid"
														datepicker-popup="{{format}}" name="dtSecond"
														ng-model="dateFinal" is-open="datepickers.dtSecond"
														datepicker-options="dateOptions" ng-required="true"
														close-text="Cerrar" placeholder="Fecha final"
														min-date="minDate" max-date="maxDate" type="text">
													<span class="input-group-btn">
														<button class="btn btn-default"
															ng-click="open($event,'dtSecond')" style="height: 34px;">
															<i class="glyphicon glyphicon-calendar"></i>
														</button>
													</span>
												</div>
											</div>


										</div>

									</h4>


								</div>
							</th>
							<!--colspan 7  -->
						</tr>
						<!--Encabezados de tabla  -->
						<tr ng-hide="showHistorial">
							<td>
								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="Buscador de Pueblos" /> <span
										class="input-group-addon"> <i class="fa fa-search"></i>
									</span>
								</div>
							</td>
							<td>&nbsp;</td>
							<th>
								<div class="dropdown center">
									<button class="btn btn-xs btn-default dropdown-toggle"
										type="button" data-toggle="dropdown" style="border-radius: 10px;">
										<i style="color: gray; margin: 5px;"
											class="fa fa-line-chart  " aria-hidden="true"></i> Oferta <span
											class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#">HTML</a></li>
										<li><a href="#">CSS</a></li>
										<li><a href="#">JavaScript</a></li>
									</ul>
								</div>
							</th>

							<th>

								<div class="dropdown center">
									<button class="btn btn-xs btn-default dropdown-toggle"
										type="button" data-toggle="dropdown" style="border-radius: 10px;">
										<i style="color: gray; margin: 5px;"
											class="fa fa-bar-chart " aria-hidden="true"></i> Demanda <span
											class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#">HTML</a></li>
										<li><a href="#">CSS</a></li>
										<li><a href="#">JavaScript</a></li>
									</ul>
								</div>
							</th>

							<th>

								<div class="dropdown center">
									<button class="btn btn-xs btn-default dropdown-toggle"
										type="button" data-toggle="dropdown" style="border-radius: 10px;">
										<i style="color: gray; margin: 5px;"
											class="fa fa-pie-chart " aria-hidden="true"></i> Seguridad <span
											class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#">HTML</a></li>
										<li><a href="#">CSS</a></li>
										<li><a href="#">JavaScript</a></li>
									</ul>
								</div>
							</th>

							<th>
								<div class="dropdown center">
									<button class="btn btn-xs btn-default dropdown-toggle"
										type="button" data-toggle="dropdown" style="border-radius: 10px;">
										<i style="color: gray; margin: 5px;"
											class="fa fa-users " aria-hidden="true"></i> Accesibilidad <span
											class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#">HTML</a></li>
										<li><a href="#">CSS</a></li>
										<li><a href="#">JavaScript</a></li>
									</ul>
								</div>
							</td>

							<th>
								<div class="dropdown center">
									<button class="btn btn-xs btn-default dropdown-toggle"
										type="button" data-toggle="dropdown" style="border-radius: 10px;">
										<i style="color: gray; margin: 5px;"
											class="fa fa-camera " aria-hidden="true"></i> Comunidad <span
											class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#">HTML</a></li>
										<li><a href="#">CSS</a></li>
										<li><a href="#">JavaScript</a></li>
									</ul>
								</div>
							</td>

							<th>
								<div class="dropdown center">
									<button class="btn btn-xs btn-default dropdown-toggle"
										type="button" data-toggle="dropdown" style="border-radius: 10px;">
										<i style="color: gray; margin: 5px;"
											class="fa fa-map-marker " aria-hidden="true"></i>
										Mercadotécnia <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#">HTML</a></li>
										<li><a href="#">CSS</a></li>
										<li><a href="#">JavaScript</a></li>
									</ul>
								</div>
							</td>

							<th>
								<div class="dropdown center">
									<button class="btn btn-xs btn-default dropdown-toggle"
										type="button" data-toggle="dropdown" style="border-radius: 10px;">
										<i style="color: gray; margin: 5px;"
											class="fa fa-list " aria-hidden="true"></i> Promedio <span
											class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#">HTML</a></li>
										<li><a href="#">CSS</a></li>
										<li><a href="#">JavaScript</a></li>
									</ul>
								</div>
							</th>
						</tr>
						<!--datos angular  -->
						<tr ng-repeat="pueblo in pueblos track by $index"
							ng-hide="showHistorial">

							<td><div style="padding: 10px;">

									<div
										style="padding: 2px 5px 2px 5px; background-color: #d1d3d4; border-radius: 10px; height: 100%;">
										<h5 class="ng-binding" style="color:#474747;">
											{{pueblo.nombre}} <span class="label label-color ng-binding"
												style="float: right;color:white;">{{pueblo.tipo}}</span>
										</h5>
										<h6 class="ng-binding" style="color:#033836">{{pueblo.estado}}</h6>
									</div>

								</div></td>

							<td>&nbsp;</td>

							<td ng-repeat="val in dataLine[$index]">
								<div class="divIndicador" ng-class="changeColor(val)">
									<p style="color:#61c597">
										{{val}} <i style="float: right;color:white;margin-top: 8px;" class="fa fa-info-circle"
											aria-hidden="true"></i>
									</p>
								</div>

							</td>
						</tr>
						<!-- Grafica -->
						<tr ng-show="showHistorial">
							<td colspan="9">
								<canvas id="line2" class="chart chart-line"
									chart-data="dataLine" chart-labels="labelsLine"
									chart-legend="true" chart-series="seriesLine"
									chart-click="onClick">
								</canvas>
							</td>
						</tr>
					</table>

				</div>
		
	</div>




</div>

