<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">


<div ng-controller="serviciosController" ng-init="init();">

	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">



			<div class="row">

				<div class="col-lg-7 col-md-7 col-sm-7">
					<div class="div-well">
						<div class="pozo pozo-sm">

							<h4>
								<i style="margin-right: 5px" class="fa fa-h-square  fa-lg"
									aria-hidden="true"></i>Hoteles
							</h4>

						</div>
						<!--  -->
						<div style="height: 223px;">
							<canvas id="line2" class="chart chart-line" chart-data="dataLine"
								chart-labels="labelsLine" chart-legend="true" width="633" height="200" style="width: 633px; height: 200px;"
								chart-series="seriesLine" chart-click="onClick">
								</canvas>
						</div>

					</div>

				</div>


				<div class="col-lg-5 col-md-5 col-sm-5">
					<div class="div-well">
						<div class="pozo pozo-sm">

							<h4>
								<i style="margin-right: 5px" class="fa fa-bar-chart  fa-lg"
									aria-hidden="true"></i> Evaluación Hoteles
							</h4>

						</div>
						<!--  -->
						<canvas id="area" class="chart chart-radar" chart-data="data"
							chart-labels="labels" chart-click="onClick"
							chart-options="chart_options"></canvas>
					</div>

				</div>
			</div>
			<div class="row">

				<div class="col-lg-7 col-md-7 col-sm-7"
					style="height: 310px; padding: 5px">
					<div class="div-well">
						<div class="pozo pozo-sm">

							<h4>
								<i style="margin-right: 5px" class="fa fa-cutlery fa-lg"
									aria-hidden="true"></i>Restaurantes
							</h4>

						</div>
						<!--  -->
						<div style="height: 223px;">
							<canvas id="line1" class="chart chart-line" chart-data="dataLine"
								chart-labels="labelsLine" chart-legend="true" width="633" height="200" style="width: 633px; height: 200px;"
								chart-series="seriesLine" chart-click="onClick">
							</canvas>
						</div>
					</div>

				</div>

				<div class="col-lg-5 col-md-5 col-sm-5">
					<div class="div-well">
						<div class="pozo pozo-sm">

							<h4>
								<i style="margin-right: 5px" class="fa fa-bar-chart  fa-lg"
									aria-hidden="true"></i> Evaluación Restaurantes
							</h4>

						</div>
						<!--  -->
						<canvas id="area2" class="chart chart-radar" chart-data="data"
							chart-labels="labels" chart-click="onClick"
							chart-options="chart_options"></canvas>
					</div>

				</div>
			</div>


		</div>
	</div>




</div>