<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<div ng-controller="usuariosController" ng-init="init();">

	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<div class="row">
						<div class="col-md-6"></div>

						<div class="clearfix"></div>
					</div>
				</div>

				<div class="row">

					<div class="col-lg-5 col-md-5 col-sm-5">

						<table class="table table-style">
							<tr>
								<th>Usuarios</th>
								<th>Rol</th>
								<th>Eliminar</th>

								<th>
									<!-- AGREGAR USUARIO --> <a href="" ng-click=""> <i
										style="margin-right: 5px" class="fa fa-plus-circle fa-lg"
										aria-hidden="true"></i>
								</a>
								</th>
							</tr>
							<!--ANGULAR PARA USUARIOS  -->
							<tr ng-repeat="user in usuarios">

								<td>{{user.usuario}}</td>
								<td>{{user.rol}}</td>
								<td><input type="checkbox" value=""></td>
								<!--CHECK SELECCIONAR  -->
								<td><a href="" ng-click=""> <!-- BOTON EDITAR  --> <i
										style="margin-right: 5px" class="fa fa-pencil fa-lg"
										aria-hidden="true"></i>
								</a></td>


							</tr>
						</table>


					</div>

					<div class="col-lg-5 col-md-5 col-sm-5">
						<div class="div-well"  style="padding: 10px;">

							<div class="form-group">
								<input type="text" class="form-control" name=""
									placeholder="Usuario" />
							</div>

							<div class="form-group">
								<input type="text" class="form-control" name=""
									placeholder="Nombre" />
							</div>

							<div class="form-group">
								<input type="text" class="form-control" name=""
									placeholder="Rol" />
							</div>


						</div>
					</div>




				</div>
			</div>
		</div>
	</div>




</div>

